
@{
    ViewBag.Title = "index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="~/fonts/img/img-sell1/955a4bfe-4c23-2400-6fc2-00178e92bdb2.jpg" />
        </div>
        <div class="col-sm-4" style="padding-top:8%">
            <h1>Áo Thun Wild Animals M3 </h1>
            <p>Form Rộng</p>
            <h5 style="color:red">185.000</h5>
            <table class="table table-condensed table-productvariants">
                <tbody>
                    <tr>
                        <td>
                            0020021001
                        </td>
                        <td>Trắng, S</td>
                        <td>18 CH còn</td>
                    </tr>
                    <tr>
                        <td>
                            0020021002
                        </td>
                        <td>Trắng, M</td>
                        <td>18 CH còn</td>
                    </tr>
                    <tr>
                        <td>
                            0020021003
                        </td>
                        <td>Trắng, L</td>
                        <td>18 CH còn</td>
                    </tr>
                    <tr>
                        <td>
                            0020021004
                        </td>
                        <td>Trắng, XL</td>
                        <td>18 CH còn</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4" style="padding-top:8%">
            
                <h5 class="display-6">Mô tả sản phẩm</h5>
                Chất liệu: Cotton 2 chiều<br>
            Thành phần: 100% Cotton<br>
            - Thân thiện<br>
            - Thấm hút thoát ẩm<br>
            - Mềm mại<br>
            - Kiểm soát mùi<br>
            - Điều hòa nhiệt<br>
            + Họa tiết in nước<br>
            - HDSD:<br>
            + Nên giặt chung với sản phẩm cùng màu<br>
            + Không dùng thuốc tẩy hoặc xà phòng có tính tẩy mạnh<br>
            + Nên phơi trong bóng râm để giữ sp bền màu
        </div>
    </div>
</div>

