@using CNPM.Models;
@{
    ViewBag.Title = "Quần Dài";

}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-5">
                <img class="img-fluid" src="~/fonts/img/quandai/@item.HinhAnh" />
            </div>

            <div class="col-sm-5" style="padding-top:8%">
                <h2 style="color:darkgreen">@item.TenSP </h2>
                <h3 style="text-align: center; color: pink">Mô Tả Sản Phẩm</h3>
                <p style="text-align:center">@item.Mota</p>
            </div>
        }

    </div>
</div>



