
@{
    ViewBag.Title = "GioiThieu";
}

<div class="container" style="text-align:center">
    <h1><b>Công Nghệ Phần Mềm</b></h1>
    <h2><b>Tên Đồ Án: Website Giới Thiệu Quần Áo</b></h2>
    <h2><b>Tên Giảng Viên: ThS Dương Thành Phết</b></h2>
    <h2><b>Tên Thành Viên:<br />Mai Xuân Cường <br />Trần Khánh Duy<br />Quàng Văn Dương</b></h2>
</div>
