
@{
    ViewBag.Title = "ForgetPassword";
}


<form class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Lấy Lại Mật Khẩu</h3>
            <div class="form-group">
                <p>Tài Khoản</p>
                <input class="form-control" name="taiKhoan" />
            </div>
            <div class="form-group">
                <p>Địa Chỉ Email</p>
                <input class="form-control" name="matKhau" />
            </div>
            <div style="display:flex">
                <div class="form-group" style="padding-right:10px">
                    <input class="btn btn-danger" type="button" value="Xác Nhận" onclick="location.href='@Url.Action("Index", "Home")'" />
                </div>               
            </div>
        </div>
    </div>
</form>


