
@{
    ViewBag.Title = "Login";
}

<div class="mb-4" style="text-align:center">
    <h2>ĐĂNG NHẬP HỆ THỐNG QUẢN TRỊ</h2>
    <p class="mb-4">Vui lòng nhập UserName và PassWord.</p>
    <h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
</div>
<div class="form-top-right">
    <i class="fa fa-key"></i>
</div>


<div class="from-button">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        {
            <div class="form-group first">
                <label class="sr-only" for="form-username">Username</label>
                <input type="text" name="username" placeholder="Username" class="form-username form-control" id="form-username">
                @ViewData["loi1"]
            </div>
            <div class="form-group last mb-4">
                <label class="sr-only" for="form-password">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-password form-control" id="form-password">
                @ViewData["loi2"]
            </div>
            <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0">
                    <span class="caption">Remember me</span>
                    <input type="checkbox" checked="checked" />
                    <div class="control__indicator"></div>
                </label>
            </div>
            <div class="col-sm-3">
            <button type="submit" value="Log In" class="btn btn-block btn-primary">Đăng Nhập</button>
            </div>
        }
    }
</div>